/* @tailwind base;
@tailwind components;
@tailwind utilities; */


body {
  background-color: black;
  color: yellowgreen;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}


/* -- postcss nested example */
/* .one {
  background-color: cyan;

  & .two {
    background-color: yellow;
  }
} */

 
